In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
if os.path.exists('./data/cars.csv'):
    carsdf = pd.read_csv('./data/cars.csv', header=0)
else:
   car_columns = ['brand','model','seats','licencePlate','engineType','currentAutonomy', 'image']
   carsdf = pd.DataFrame(columns=car_columns)

In [3]:
if os.path.exists('./data/drivers.csv'):
    driversdf = pd.read_csv('./data/drivers.csv', header=0)
else:
   driver_columns = ['name', 'contact', 'licenceNumber']
   driversdf = pd.DataFrame(columns=driver_columns)

In [4]:
if os.path.exists('./data/bookings.csv'):
    bookingsdf = pd.read_csv('./data/bookings.csv', header=0)
else:
   bookings_columns = ['pickUpDate', 'drouOffDate']
   bookingsdf = pd.DataFrame(columns=bookings_columns)

In [5]:
carsdf

Empty DataFrame
Columns: [brand, model, seats, licencePlate, engineType, currentAutonomy, image]
Index: []

In [6]:
driversdf

Empty DataFrame
Columns: [name, contact, licenceNumber]
Index: []

In [7]:
bookingsdf

Empty DataFrame
Columns: [pickUpDate, drouOffDate]
Index: []

In [39]:
bmw_models = []
with open("./data/BMW.csv", "r") as f:
    bmw_models.append("".join(f.readlines()).replace(",", "").strip().split("\n"))

bmw_models = bmw_models[0].copy()
bmw_models

['BMW F650GS',
 'BMW F800GS',
 'BMW F800R',
 'BMW F800S',
 'BMW F800ST',
 'BMW G310R',
 'BMW G310RR',
 'BMW G310GS',
 'BMW G450X',
 'BMW G650 Xmoto',
 'BMW G650 Xchallenge',
 'BMW G650 Xcountry',
 'BMW R1200GS',
 'BMW R1200R',
 'BMW R1200RT',
 'BMW R1200S',
 'BMW R18',
 'BMW K1200LT',
 'BMW K1300GT',
 'BMW K1300R',
 'BMW K1300S',
 'BMW K1600GT',
 'BMW K1600GTL',
 'BMW S1000RR',
 'BMW S1000XR']